:root{
    --fg: #000000;
    --bg: #ffffff;
    --ac: #aaff00;
}

::selection{
    background-color: var(--ac);
    color: var(--fg);
}

@font-face {
    font-family: baloo;
    src: url(Baloo.ttf);
}

@font-face {
    font-family: martian;
    src: url(Martian.ttf);
}

a{
    text-decoration: none;
    color: var(--fg);
}

body.dark a{
    text-decoration: none;
    color: var(--bg);
}

.dark{
    background-color: var(--fg);
    color: var(--bg);
}

body{
    font-family: martian;
    margin: 1vw;
}

#nav{
    display: flex;
}

#title{
    font-family: baloo;
    font-weight: 1000;
    font-size: 2vw;
    width: 20vw;
    user-select: none;
}

#themeToggle{
    text-align: right;
    cursor: pointer;
    font-size: 1.5vw;
    width: 80vw;
    user-select: none;
}

footer{
    display: flex;
    justify-content: center;
}

#subTitle{
    font-size: 1vw;
}

#blogsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1vw;
  margin: 2vw 0;
}

.blog{
  padding: 2vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  text-align: center;
}